.parent{
    /* height: 100%;
    width: 100%; */
  
    text-align: center;
}
form{
    /* width: 100%; */
    margin: auto;
    margin-left: 40%;
}
.buttonSubmit{
margin-top: 50px;
margin-bottom: 30px;
height: 50px;
border-radius: 30px;
background-color: aquamarine;
width: 300px;
}

input{
    height: 50px;
    width: 300px;
    border-radius: 30px;
  
    border: 2px solid black;
    background-color: rgb(161, 235, 235);
}
input:active{
    border-color: aqua;
}